/* applies to entire portfolio */
body{
    background-color: rgb(3, 3, 56);
    margin: 0;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

        /* nav bar */

#nav-box{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2%;
    position: fixed;
    width: 100%;
    background-color: rgb(3, 3, 56,0.5);
    z-index: 999;
}
.navBar{
    display: flex;
    justify-content: space-between;
    width: 65%;
    align-items: center;
    line-height: 30px;
}

.navLink{
    color: white;
    font-size: 20px;
    width: 25%;
    height: 100%;
    text-align: center;
    text-decoration: unset;
}

.currentNavLink{
    color: white;
    font-size: 20px;
    width: 25%;
    height: 100%;
    text-align: center;
    transform: translateY(2px);
    box-shadow: 0px -2px black;
}

.navLink:hover{
    background-color:rgb(11, 6, 148);
}

/* used on most pages to put in column */


                    /* firstpage */

/* Sets pic and boxes side by side */
#one{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1%;
    padding-top: 5%;
    animation: fadeInLeft 1s
}

/* puts boxes in columns to the right */
#page1{
    display: flex;
    flex-direction: column;
    align-items: start-end;
    margin-left: 1%;
    font-size: 150%;
    justify-content: space-around;
}

/* keep pic from shrinking */

#picContainer{
    width: 400px;
    height: 800px;
}

#myPic{
    width: 350px;
    height: 700px;
    box-shadow: 0px 0px 2px 2px black;
    object-fit: cover;
}

/* design of boxes */

.sec{
    margin-bottom: 1%;
    padding: 1%;
    background-color: transparent;
    width: 100%;
    color: white;
}

                /* second page */

.page2{
display: flex;
flex-direction: column;
align-items: center;
padding-top: 3%;
font-size: 150%;
animation: fadeInUp 1s
}

/* design for each box */

.skills-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    color:white;
    margin-bottom: 10%;
}

.sub-head{
    text-decoration: underline;
    margin-top: 0;
    margin-bottom: 1%;
    font-style: italic;
}

.info{
    margin: 0;
    font-size: 75%;
}

/* puts columns side by side */

.skills-column{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1%;
    width: 100%;
}

/* creates columns */

.columnss{
    display: flex;
    flex-direction: column;
    margin: 1%;
}

    /* dropdown text */

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 2%;
  }

  /* design of what drops */
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(225, 236, 236);
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1%;
    z-index: 1;
    color: rgb(11, 6, 148);
    font-size: 50%;
    border: solid;
    border-color: rgb(11, 6, 148);
    margin-top: 3px;
  }
  
  /* shows dropdown content */
  .dropdown:hover {color:rgb(11, 6, 148)}
  .dropdown:hover .dropdown-content {display: block;}

  .logos{
      width: 250px;
      height: 250px;
      background-color: aliceblue;
      box-shadow: 5px 5px black;
  }

  /* 3rd page */

  #git-box{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      animation: fadeIn 2s;
  }
.gititle{
    text-align: center;
    margin-top: 5%;
    color: white;
}
.git{
    width: 400px;
    height: 400px;
}


/* Final page */
 
.contact-container{
padding-top: 5%;
display: flex;
justify-content: center;
animation: fadeIn 2s;
}

#contact-box{
    font-size: 200%;
    background-color: rgb(17, 56, 247);
    padding: 10px;
    color: white;
    box-shadow: 10px 10px 5px black;
    width: 80%;
    text-align: center;
}



/* animations */

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

  @keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-5%, 0, 0);
      transform: translate3d(-5%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 10%, 0);
      transform: translate3d(0, 10%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  /* media queries */
  
  @media only screen and (max-width:700px){
        
    #nav-box{
        display: flex;
        justify-content: flex-start;
    }

    .navBar{
        width: 100%;
    }

    .navLink{
        font-size: 10px;
    }

    .currentNavLink{
        font-size: 10px;
        width: 26%;
    }

    /* page 1 */

      #one{
          display: flex;
          flex-direction: column;
          align-items: center;
      }

      p{
          font-size: 75%;
      }

      #picContainer{
          width: 300px;
          height: 600px;
          margin-bottom: 3%;
      }
      #myPic{
          margin-top: 5%;
          width: 300px;
          height: 600px;
      }

    /* page 2 */

    .logos{
        width: 50px;
        height: 50px;
    }

    #page2{
        font-size: 75%;
    }

    .skills-box{
        margin-top: 20px;
    }

    .sub-head{
        font-size: 50%;
    }

    .info{
        opacity: 0;
        height: 0px;
        font-size: 0px;
    }

    .dropdown{
        font-size: 50%;
    }

    #contact-box{
        margin-top: 30px;
        font-size: 80%;
    }
  }